{% extends "base.html" %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 mt-2">
        {% for vote in votes %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <a class="fs-5"> Голосование на тему: </a>
                    <br>
                    <h4 class="card-title" style="text-transform: capitalize;">{{vote.title|truncatechars:20}}</h4>
                    <div class="">
                        <h6 class="card-subtitle mb-2 text-muted">Автор: {{vote.author}} | ID: {{vote.id}}</h6>
                        <a href="{% url 'vote' id=vote.id %}" class="btn btn-primary">Учавствовать в голосовании</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-warning mt-5" role="alert">
                Сейчас нет доступных голосований!
            </div>
        {% endfor %}
    </div>
{% endblock %}